RESET STYLES
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES */
:root {
    --main-color: #1a2424;
    --secondary-color: #c4c4c4;
    --bg-1: #D55B5B;
    --bg-2: #D5AC5B;
    --bg-3: #5B9BD5;
}

/* ANIMATION */
@keyframes moveInFromTheLeft {
    25% {
        transform: translateX(15vmin);
    }
    
    100% {
        height: 100vh;
    }
}

/* BASE FONT SIZE DEFINING REM */
html{
    font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
    html {
        font-size:56.25%
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size:50%
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size:100%
    }
}


body {
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 5vmin 0;
    font-family: 'Roboto', sans-serif;
}

/* BORDERS ON MAIN PAGE */
.border {
    width: calc(100vw - 10vmin);
    height: calc(100vh - 10vmin);
    border: .2rem solid var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* 3 MAIN SECTIONS */
.section {
    width: 100vw;
    height: calc((100vh - 10vmin) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TOP SECTION */
.section--top {
    color: var(--secondary-color);
}

/* TYPOGRAPHY */
.heading-1 {
    font-size: 8rem;
    color: inherit;
    text-transform: uppercase;
}

.heading-2 {
    font-size: 5rem;
    color: inherit;
}

.heading-4 {
    font-size: 2.5rem;
    font-weight: 600;
}

.heading-5 {
    font-size: 2rem;
    font-weight: 600;
}

/* MID SECTION */
.resume__list {
    list-style: square;
}

.resume__item {
    font-size: 1.8rem;
}

.section--mid {
    color: var(--main-color);
}

.expirience__job:last-child {
    margin-top: 2rem;
}

.content {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: inherit;
    position: absolute;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .8s ease-in-out;
}

.content > h3 {
    transition: all 1s;
    text-transform: uppercase;
}

.content:nth-child(1) > h3,
.content:nth-child(3) > h3 {
    transform: translateX(15vmin);
}

.content:nth-child(2) > h3 {
    transform: translateX(-15vmin);
}

.content--resume,
.content--projects,
.content--contacts {
    transition: all .5s;
    transform: scale(0);
    display: none;
}

.content--resume {
    width: 95vw;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 2rem;
    padding: 0 15rem 4rem 15rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.resume {
    background-color: var(--secondary-color);
    right: 15vmin;
    top: calc(100vh - 5vmin - 60vh);
    border-radius: 0 1rem 1rem 0;
    transition: all .8s ease-in-out;
    overflow: hidden;
}

.resume h4 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.resume__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.resume__details--left h5:first-of-type,
.resume__details--right h5:first-of-type {
    margin-bottom: .5rem;
}

.download {
    text-decoration: none;
    color: inherit;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: fixed;
    right: 5vmin;
    bottom: 5vmin;
    background-color: var(--secondary-color);
    display: none;
}

.download:hover,
.download:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .6);
    outline: none;
}

.projects {
    background-color: var(--bg-2);
    top: calc(5vmin + 40vh);
    right: -15vmin;
    border-radius: 1rem 0 0 1rem;
    transition: all .8s ease-in-out;
}

.contacts {
    background-color: var(--bg-3);
    right: 15vmin;
    bottom: 0;
    border-radius: 0 1rem 1rem 0;
    top: calc(5vmin + 50vh);
    transition: all .8s ease-in-out;
}

.content--contacts {
    margin-top: 2rem;
}

.btn-close-resume,
.btn-close-projects,
.btn-close-contacts {
    width: 3vh;
    height: 3vh;
    position: absolute;
    right: 3.5vh;
    top: 3.5vh;
    display: none;
}

.btn-close-resume::before,
.btn-close-projects::before,
.btn-close-contacts::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 4.3vh;
    background-color: var(--main-color);
    transform: rotate(45deg);
    top: 1.3vh;
    right: -.7vh;
}

.btn-close-resume::after,
.btn-close-projects::after,
.btn-close-contacts::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 4.3vh;
    background-color: var(--main-color);
    transform: rotate(-45deg);
    top: 1.3vh;
    right: -.7vh;
}

.section--bot {
    flex-direction: row;
}

.logo {
    height: 12vh;
    width: auto;
}
